* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .mockup {
  display: flex;
  align-items: center;
  margin-left: 25%;
}

.container .mockup img {
  width: 100%;
  height: 100%;
}

.container .cardProfile {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-right: 25%;
}

.container .cardProfile .title {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 4%;
  font-weight: 500;
}

.container .imgProfile {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.container .imgProfile img {
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}

.buttonLogin {
  border: none;
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  background: #0095f6;
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.change {
  color: #0095f6;
}
